.learning-page-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* לוגואים קבועים בפינות */
.logo-bahad13-fixed {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 5.5rem;
    z-index: 50;
}

.logo-till-fixed {
    width: 7.5rem;
    z-index: 50;
    position: absolute;
    top: 1rem;
    left: 5rem;
    /* width: 7%; */
    height: auto;
}

/* אזור הסלייד */
.main-content-wrapper {
    width: 100%;
    height: 100%;
    z-index: 10;
}

/* קונטיינר החצים */
.navigation-actions {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    z-index: 100;
    /* מעל הכל */
}

.nav-arrow-btn {
    width: 3.5rem;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
}

.nav-arrow-btn:hover {
    transform: scale(1.08);
}

/* עיצוב כפתור חסום (למשל כשהוידאו לא הסתיים) */
.btn-disabled {
    opacity: 0.3;
    cursor: not-allowed;
    filter: grayscale(100%);
}

.btn-disabled:hover {
    transform: none;
}