body {
    font-family: "Fredoka";
}

.opening-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 2rem;
    z-index: 15;
}

.opening-page-header {
    color: #002446;
    /* font-size: clamp(1.8rem, 2vw + 1rem, 3.2rem); */
    font-size: 3rem;
}

.start-btn-to-topics {
    background-color: #CB4B44;
    font-family: "Ido";
    color: white;
    border: none;
    border-radius: 2vw;
    cursor: pointer;
    filter: drop-shadow(0 6px 6px rgba(255, 0, 0, 0.25));
    /* font-size: clamp(1.2rem, 1vw + 0.8rem, 2rem); */
    font-size: 1.7rem;
    padding: clamp(0.1rem, 0.2vw, 0.3rem) clamp(1.5rem, 2vw, 2.5rem);

    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease,
        background-color 0.25s ease;
}

.start-btn-to-topics:hover {
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
}

.start-btn-to-topics:active {
    transform: translateY(0) scale(0.97);
}

.topics-opening-page-container {
    display: flex;
    justify-content: center;
}

.till-logo-black-opening-page {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 7%;
    height: auto;
}

.car-opening-page {
    position: absolute;
    width: 30%;
    bottom: 4%;
    right: -40%;
    z-index: 16;
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.25));

    animation: carEnter 4s ease-out forwards;
}

@keyframes carEnter {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-140%);
    }
}

.car-drive {
    animation: carDriveForward 2s ease forwards;
}

@keyframes carDriveForward {
    from {
        transform: translateX(-140%);
    }

    to {
        transform: translateX(-350%);
    }
}

.logo-bahad13-opening-page {
    width: 18%;
}

.ground-area {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;
}

.road-opening-page {
    width: 100%;
    display: block;
    z-index: 10;
    position: relative;
}

.lighting-pole-left {
    position: absolute;
    bottom: 95%;
    left: 6%;
    width: 8%;
    z-index: 7;
}

.pole-move-left {
    animation: poleLeftMove 2s forwards;
}

@keyframes poleLeftMove {
    to {
        transform: translateX(70vw);
    }
}

.lighting-pole-right {
    position: absolute;
    bottom: 95%;
    right: 6%;
    width: 8%;
    z-index: 7;
}

.pole-move-right {
    animation: poleRightMove 2s forwards;
}

@keyframes poleRightMove {
    to {
        transform: translateX(120vw);
    }
}

.bush-left-open {
    position: absolute;
    bottom: 99%;
    left: 0;
    width: 14%;
    z-index: 8;
}

.bush-right-open {
    position: absolute;
    bottom: 99%;
    right: 0;
    width: 14%;
    z-index: 8;
}

.gader-open {
    position: absolute;
    bottom: 99%;
    width: 100%;
    z-index: 9;
}

/* cloudes animation */
@keyframes cloudMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(40px);
    }
}

.big-cloud-opening-page-left {
    position: absolute;
    width: 18%;
    left: 8%;
    top: 4%;
    animation: cloudMove 12s linear infinite alternate;

    cursor: pointer;
}

.big-cloud-opening-page-right {
    position: absolute;
    width: 16%;
    right: 8%;
    top: 4%;
    animation: cloudMove 10s linear infinite alternate;
}

.small-cloud-opening-page-left {
    position: absolute;
    width: 12%;
    left: 2%;
    top: 35%;
    animation: cloudMove 17s linear infinite alternate;
}

.small-cloud-opening-page-right {
    position: absolute;
    width: 12%;
    right: 2%;
    top: 35%;
    animation: cloudMove 15s linear infinite alternate;
}

/* כפתור אודות */

.about-container {
    position: absolute;

    top: 5%;
    right: 10%;

    z-index: 20;
}

.about-btn {
    height: 6.5vh;
    cursor: pointer;

    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.about-btn:hover {
    transform: scale(1.08);
}

.about-btn:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}

.about-popup {
    position: absolute;

    top: calc(100% + 10px);
    right: 0;

    background: white;

    padding: clamp(.7rem, 0.7vw, 1.2rem);

    border-radius: 14px;
    border: 0.33vh solid #95193D;

    width: clamp(150px, 6vw, 320px);

    max-width: 90vw;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: .6rem;
    color: #95193D;
    font-size: clamp(.8rem, .8vw, .95rem);

    max-height: 70vh;
    overflow: auto;

    animation: aboutOpen .25s ease;
}

@keyframes aboutOpen {
    from {
        opacity: 0;
        transform: translateY(-10px) scale(.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.about-popup h3 {
    font-size: clamp(1rem, 1vw, 1.3rem);
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: .95rem; */
    font-size: clamp(0.9rem, 0.85vw, 1.1rem);
}

.about-dev-img {
    width: 10vh;
}

/* .about-dev-img{
    width:clamp(50px,10vw,100px);
} */